.about-bg{
    background-image: linear-gradient(#fffafad2, #c5c0c0b0),url(https://images.unsplash.com/photo-1618489517022-5c31fa91d017?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center center ;
    background-attachment: fixed;
}